/* need to add container */
/* plan typography */
/* 

h1 - home page title, special

h2 - section title, special

p - details, small details, small buttons, normal

h3 - professor name, article titles, special and normal

h4 - sub titles, normal buttons


*/

/* FOR section  */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #0021f3;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: var(--main-black);
  overflow-x: hidden;
  background: var(--main-white);
}

/* GLOBAL STYLES */

:root {
  --main-black: #201f1e;
  --real-black: #000;
  --main-blue: #0021f3;
  --main-white: #fff;
}

/* OLD main white #fdfbf5; */

img {
  max-width: 100%;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
}
.col {
  display: flex;
  flex-direction: column;
}

.emoji-big {
  max-width: 100px;
  width: 100%;
}

.emoji-extra-big {
  max-width: 150px;
  width: 100%;
}

.emoji-small {
  max-width: 50px;
}

.section-title {
  /* font-family: MagicSchoolOne;
  font-size: 4.5rem; */
  font-size: 2rem;

  font-weight: 700;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 125%;
  text-align: center;
  transition: all 0.6s ease-out;
  color: #0021f3;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.purchase-btn {
  text-decoration: none;
  background-color: var(--main-black);
  color: var(--main-white);
  display: block;
  padding: 0.5em 1em;
  border-radius: 0;
  max-width: 12em;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  transition: all 0.6s ease-out;
}

.purchase-btn-alternate {
  background-color: var(--main-white);
  color: var(--main-black);
}

.bolder-same-size {
  font-weight: 600;
}
.bolder-lg-size {
  font-weight: 700;
  font-size: 1.5rem;
}

.par-titles {
  margin: 1em 0 0 0;
  line-height: 1.5;
}

.nav--fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: var(--main-white);
}
.header-all {
  transition: all 0.6s ease-out;
  background-color: none;
}

.crossed {
  text-decoration: line-through;
  opacity: 50%;
}
/* TYPOGRAPHY */

@font-face {
  font-family: MagicSchoolOne;
  src: url(../fonts/MagicSchoolOne.woff2) format("woff2"),
    url(../fonts/MagicSchoolOne.woff) format("woff"),
    url(../fonts/MagicSchoolOne.ttf) format("ttf");
  font-display: swap;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
}

/* NAV START */
.nav {
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  border-bottom: 3px solid var(--main-white);
  flex-direction: row-reverse;
  background-color: var(--main-black);
  z-index: 2;
  transition: all 0.6s ease-in-out;
}
nav {
  overflow-x: hidden;
}
.nav__right {
  padding: 0.5em;
  width: 50%;
  height: 100%;
}
.nav__left {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  /* border-left: 3px solid var(--main-white); */
}

.menu-btn div {
  height: 3px;
  background: var(--main-white);
  border-radius: 5px;
  margin: 10px;
  transition: all 0.3s ease;
}
.menu-btn_line1 {
  width: 50px;
}
.menu-btn_line2 {
  width: 30px;
}
.menu-btn_line3 {
  width: 20px;
}

.toggle .menu-btn_line1 {
  transform: rotate(-45deg) translate(-8px, 10px);
}
.toggle .menu-btn_line2 {
  opacity: 0;
}
.toggle .menu-btn_line3 {
  transform: rotate(45deg) translate(-8px, -10px);
  width: 50px;
}

.nav__list {
  border-right: 3px solid var(--main-white);
  position: absolute;
  left: 0;
  /* height: 90vh;
  top: 9vh; */
  height: 100em;
  top: 4.3em;
  background-color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 1em;
  padding-right: 0.75em;
  min-width: 30%;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
  margin: 0;
  /* display: none; */
  z-index: 3;
}

.nav__list-item {
  margin-top: 2em;
  list-style: none;
  list-style-position: inside;
}
.nav__list-item a {
  text-decoration: none;
  color: var(--main-black);
  font-size: 1rem;
  font-weight: 700;
}
.nav__list-item + .nav__list-item {
  margin-top: 2em;
}

.nav__list.menu-active {
  transform: translateX(0);
  z-index: 3;
}

div#nav__logo {
  max-width: 4em;
}

/* NAV END */

/* HOME START */
.home {
  padding: 5rem 0;
  position: relative;
}

.home__title {
  font-family: MagicSchoolOne;
  font-size: 7rem;
  font-weight: normal;
  line-height: 100%;
  margin: 0.02em 0 0.1em 0;
  transition: all 1.25s ease;
  color: var(--main-blue);
  z-index: 2;
  position: relative;
}

.home__sub-title {
  z-index: 1;
  position: relative;
  font-size: 1.2em;
  top: -1.25em;
  right: auto;
  font-weight: 600;
  background-color: var(--main-black);
  color: var(--main-white);
  border-radius: 30px;
  max-width: fit-content;
  padding: 0.75em 1.25em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.home__text-container {
  max-width: 100%;
  text-align: left;
  margin: 0 auto;
  line-height: 1.4rem;
}

.highlight-text-blob {
  background-color: var(--main-blue);
  border-radius: 30px;
  color: var(--main-white);
  padding: 0.1em 0.3em;
  font-weight: 600;
  display: inline-block;
}

.home__text {
  position: relative;
  line-height: 1.3;
}

.home__text + .home__text {
  margin-top: 1em;
}

.home__text,
.home__sub-title {
  transition: all 1.25s ease;
}

.home__img,
.home__decor-owl {
  max-width: 75%;
  vertical-align: top;
  transition: all 1.25s ease;
}

.flex-desktop-col {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emoji-stars-home {
  position: absolute;
  top: 1em;
  right: 1em;
  transition: all 1s ease-in-out;
  width: 300px;
}

.emoji-letter {
  position: absolute;
  bottom: -2em;
  right: 2em;
  max-width: 150px;
  transition: all 1s ease-in-out;
}
.emoji-owl {
  position: absolute;
  bottom: 4em;
  right: 4em;
  max-width: 150px;
  transition: all 1s ease-in-out;
  transform: rotate(-13deg);
}

.home__visual {
  position: relative;
  z-index: 0;
  margin-top: 2rem;
}

.home__btn {
  margin-bottom: -1em;
  z-index: 1;
  margin-top: 1.5em;
}
.home__cta-section {
  max-width: 100%;
  margin: 0 auto;
}

.home__cta-section .purchase-btn {
  text-align: left;
  max-width: 100%;
  padding: 1em;
  background-color: #0021f3;
  box-shadow: 0px 8px 15px var(--main-blue);

  /* position: relative;
  right: -2em; */
}

.charity-info {
  position: absolute;
  bottom: 2em;
  margin: auto;
  display: flex;
  align-items: center;
  transition: all 1s ease-in-out;
}
.charity-text {
  font-size: 0.75rem;
  font-weight: 600;
  margin-left: 1em;
}
.emoji-ukraine {
  max-width: 40px;
}

/* HOME END */

/* FOR SECTION START */

.for {
  margin: 1em 0;
  /* border-bottom: 2px solid var(--main-black); */
}

.for__decor {
  position: relative;
  bottom: -1em;
}

.for__item-text {
  font-size: 1.2rem;
  max-width: 70%;
  margin: 0 auto;
  overflow-x: hidden;
}

.for__item {
  min-height: 10em;
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-bordered {
  border-top: 2px solid var(--main-black);
  border-bottom: 2px solid var(--main-black);
  position: relative;
  margin: 4em 0 0;
  width: 600px;
  position: relative;
}

.for .container-bordered {
  margin: 4em 0 6em 0;
  width: 100%;
  max-width: 100%;
}

.container-bordered__middle {
  border-left: 2px solid var(--main-black);
  border-right: 2px solid var(--main-black);
  margin: 0 2em;
}

.for__bordered-img {
  position: relative;
  z-index: -1;
  object-fit: fill;
}

.container-bordered-title {
  position: absolute;
  background-color: var(--main-white);
  border: 2px solid var(--main-black);
  top: -2em;
  left: 5em;
  max-width: 70%;
  padding: 0.5em 0.75em;
}

.for__last-arg {
  font-size: 1.5rem;
  text-align: center;
}

.for__img-side {
  display: none;
}

/* FOR SECTION END */

/* PROGRAM START */

.program {
  position: relative;
  margin: 4em 0;
}

.program-container {
  width: 90%;
  margin: 0;
}

.program__title {
  padding: 0.25em 0 0.3em 0;
}

.program__head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1em 0;
  color: var(--main-white);
  background-color: var(--main-blue);
  padding: 0.5rem 1rem;
  border-radius: 0 30px 30px 0;
  margin: 1rem 0;
}

.program__item-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.program__item {
  position: relative;
  margin: 0 auto;
}

.program_clients {
  max-width: 15rem;
}

.program_style {
  max-width: 10rem;
}

.program__item-visual {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* .program__item img {
  margin-left: 1em;
} */

.program__item-text {
  margin-left: 2em;
}

.program__item-par + .program__item-par {
  margin-top: 1em;
}

/* PROGRAM END */

/* AUTHOR START */

.author__bordered {
  /* border-top: 2px solid var(--main-black);
  border-bottom: 2px solid var(--main-black); */
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.author__img {
  max-width: 17em;
}

.author__card {
  padding: 1em;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.author__title {
  padding: 1.5em 0 0 0;
}
.author__creds {
  background-color: var(--main-blue);
  padding: 0.5em 1em;
  border-radius: 30px;
  color: var(--main-white);
}

.author__name {
  /* font-family: MagicSchoolOne; */
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}
.author__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.emoji-wand {
  position: absolute;
  top: -3em;
}

.author__tag a {
  text-decoration: none;
  color: var(--main-white);
  font-size: 1.25rem;
}
.author__details {
  margin: 2em 0;
  /* width: 50%; */
}

/* AUTHOR END */

/* PRICING START */
.pricing {
  position: relative;
}

.pricing__under {
  width: 100%;
  display: flex;
  justify-content: end;
  margin: 2rem 0;
}

.addition {
  width: 100%;
  max-width: 40rem;
  padding: 2em 1em;

  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 40px 40px;

  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  position: relative;
}

.lightbulb {
  width: auto;
  max-width: 150px;
  height: auto;
  max-height: 100px;
}

.addition .arrow {
  /* display: none; */
  position: absolute;
  width: 117px;
  height: 230px;
  top: -4rem;
  right: -1rem;
  transform: scaleX(-1);
}

.pricing__title {
  padding: 1em 0 0 0;
}

.pricing__decor-castle {
  display: none;
}

.pricing__item-title {
  text-align: center;
  padding: 1em 0;
}
.pricing__item {
  width: 100%;
  margin: 0;
  z-index: 1;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__item-box {
  position: relative;
  background-color: var(--main-blue);
  color: var(--main-white);
  padding-bottom: 1em;
}

.pricing__item:first-of-type .pricing__item-box {
  background-color: #445bef;
}

.pricing__item:first-of-type .home__sub-title {
  background-color: #544f4f;
  padding: 0.25rem 0.75rem;
}

.emoji-eyeglasses {
  position: absolute;
  top: -3rem;
  right: -3rem;
}
.emoji-stars-pricing {
  position: absolute;
  top: -3rem;
  right: -3rem;
}

.pricing__item-list {
  list-style-position: inside;
  padding: 0.5em 0;
  max-width: 80%;
  margin: 0 auto;
}
.pricing__item-list-item {
  font-size: 1rem;
  margin: 1em 0;
  font-size: 1.25rem;
  font-weight: 700;
}

.pricing__item-btn {
  text-decoration: none;
  background-color: var(--main-white);
  color: var(--main-black);
  display: block;
  padding: 0.8em 1em;
  max-width: 80%;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1em 0 2em auto;
}

.pricing__item-price-back {
  position: absolute;
  bottom: -3em;
  left: -2.5em;
  transform: translateX(50%);
  background-color: var(--main-black);
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.pricing__item-price {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-white);
}

/* PRICING END */

/* FEEDBACK START */

.feedback {
  margin: 6em 0 2em 0;
  position: relative;
  /* border-bottom: 2px solid var(--main-black); */
}

.feedback__title {
  padding: 1.5em 0 0 0;
  /* border-top: 2px solid var(--main-black); */
}
.feedback__sub-title {
  font-size: 1rem;
  text-align: center;
}

.emoji-ball {
  position: absolute;
  top: 8rem;
  right: 1.5rem;
  z-index: 1;
}

.feedback__img {
  padding: 0.5em;
}

/* GLIDER STYLES OVERRIDE */

.glider-slide {
  max-width: 1000px;
}

.glider-contain {
  padding: 0rem 0 0 2rem;
}

#dots {
  margin-top: 1rem;
}

/* FEEDBACK END */

/* COUNTDOWN START */
.countdown {
  background-color: var(--main-black);
  color: var(--main-white);
  padding: 2rem 0;
  position: relative;
}

.countdown__title {
  font-size: 1.2rem;
  color: var(--main-white);
  text-align: center;
  font-weight: 700;
}

.emoji-timer {
  position: absolute;
  top: 0;
  right: 0;
}

.countdown__module {
  position: relative;

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown__module h1 {
  font-size: 2rem;
  min-width: 3rem;
}
.countdown__module h3 {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.countdown__digit-container {
  max-width: 80%;
  margin: 2rem auto 1rem;
}

.countdown__digit-container div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.countdown__decor-stamp {
  position: absolute;
  bottom: -3em;
  right: -1em;
  max-width: 8em;
}

.countdown__details {
  margin: 2rem 0;
}

/* COUNTDOWN END */

/* FAQ START */
.faq__title {
  padding: 1em 0 0 0;
}

.faq__visual {
  max-width: 25em;
  width: 80%;
  margin: 0 auto 2em auto;
}

.faq__item + .faq__item {
  margin-top: 2rem;
}

.faq__item {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}

.faq__item-body {
  margin-left: 1em;
}

.faq__item-title {
  font-size: 1.2rem;
  position: relative;
  margin-bottom: 1em;
}
.faq__item-text {
  font-size: 1rem;
}

.faq__item-caret {
  display: inline;
  max-width: 30px;
  position: absolute;
  top: -0.3rem;
  left: -2rem;
}
.emoji-comment {
  object-fit: contain;
}

.contact__visual {
  display: none;
}
/* FAQ END */

/* CONTACT START */
.contact {
  margin: 2em 0 0;
  background-color: var(--main-black);
  color: var(--main-white);
  padding: 2em 0;
}

.contact__flex-container {
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-direction: column;
}

.contact__details {
  display: inline-block;
  max-width: 100%;
  padding: 2em 0;
}

.contact__details > * {
  margin-bottom: 0.5em;
}
.contact__title {
  margin-bottom: 0.5em;
}

.contact__documents {
  max-width: 80%;
}

.contact__documents a {
  display: block;
  text-decoration: none;
  color: var(--main-white);
  font-size: 1rem;
  margin: 0.5em 0;
}

.contact__email-link,
.contact__insta-link {
  font-weight: 600;
  color: var(--main-white);
  cursor: pointer;
}

.contact__copyright {
  padding: 2em 0;
}
footer {
  height: 5rem;
  background-color: var(--main-blue);
}
/* CONTACT END */

@media screen and (min-width: 500px) {
  .for__item-text {
    max-width: 20rem;
  }
  .author__img {
    max-width: 22rem;
  }
  .emoji-broom {
    right: 6em;
  }

  .home__text-container {
    max-width: 80%;
    text-align: left;
  }

  .home__decor-owl {
    position: relative;
    right: -2em;
  }
}

@media screen and (min-width: 600px) {
  /* HOME START */

  .flex-desktop-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__title {
    font-size: 8.5rem;
  }
  .home__sub-title {
    right: auto;
    font-size: 1.4em;
  }
  .emoji-stars-home {
    top: 3em;
    right: 3em;
  }
  .home {
    padding: 3.5em 0;
  }

  .home__cta-section {
    display: flex;
    justify-content: center;
  }

  .home__text-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home__cta-section .purchase-btn {
    text-align: center;
    max-width: 20em;
  }

  .program_clients {
    max-width: 25rem;
  }

  .program_style {
    max-width: 15rem;
  }

  .section-title {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .container-bordered {
    width: 100%;
    max-width: 100%;
  }

  .container-bordered-title {
    position: absolute;
    background-color: var(--main-white);
    border: 2px solid var(--main-black);
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
    max-width: 30%;
    padding: 0.5em 0.75em;
  }
  .for {
    margin: 4em 0;
  }

  .for__bordered-img {
    object-fit: contain;
    max-width: 100%;
  }

  .for__bordered-img {
    object-fit: contain;
  }
  .container-bordered__middle {
    /* border-left: 2px solid var(--main-black);
    border-right: 2px solid var(--main-black); */
    margin: 0 auto;
    width: 100%;
    max-width: 32rem;
  }

  .program__item {
    left: 0;
    /* margin: 2em auto; */
  }

  .pricing__container--flex {
    max-width: 30em;
    width: 80%;
    margin: 0 auto;
  }

  .pricing__item-box {
    border-radius: 40px;
  }

  .pricing__under {
    width: 100%;

    margin: 4rem 0;
  }

  .addition {
    width: 60%;
  }

  .pricing__item-price-back {
    width: 150px;
    height: 150px;
    bottom: -4em;
    left: -7em;
  }

  .pricing__item-price {
    font-size: 3rem;
  }

  .pricing__item-btn {
    margin: 1em auto;
  }

  .addition .arrow {
    display: block;
    position: absolute;
    width: 127px;
    height: 265px;
    top: -6rem;
    left: -4rem;
    transform: scaleX(1);
  }

  .emoji-broom {
    top: 4rem;
    right: 7rem;
  }
  .program__item-text {
    padding: 1em;
  }

  .author__name {
    font-size: 2rem;
  }

  .author__details {
    font-size: 1.2em;
    /* width: 50%; */
  }

  .charity-info {
    bottom: 1em;
    width: 100%;
    justify-content: center;
  }

  .charity-text {
    font-size: 0.75rem;
  }

  .emoji-ball {
    top: 4rem;
    right: 9rem;
  }
}

@media screen and (min-width: 1024px) {
  /* Global type classes */

  .home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .home .flex-desktop-col .home__sub-title {
    top: -2.5rem;
    right: -5rem;
  }
  .home__visual {
    position: relative;
    border: none;
    z-index: 0;
    max-width: 50%;
    display: flex;
  }

  .home__decor-owl {
    max-width: 100%;
  }

  .home__title {
    font-size: 12rem;
    position: relative;
    /* left: -6rem; */
  }

  .home__sub-title {
    font-size: 2.2rem;
    position: relative;
    top: -2rem;
    right: auto;
    padding: 1rem 1.5rem;
  }

  .charity-text {
    margin-top: 0.5em;
    max-width: 60%;
  }

  .program__item-title {
    font-size: 2.5rem;
  }

  .program__item:nth-child(1) .program__head img {
    right: -3rem;
    position: relative;
  }

  .program__item:nth-child(2) .program__head img {
    position: relative;
    left: -4.5rem;
  }

  .program__item:nth-child(3) .program__head img {
    right: -3.5rem;
    position: relative;
  }
  .program__item:nth-child(4) .program__head img {
    right: 4rem;
    position: relative;
  }

  .program__item:nth-child(2) .program__head {
    direction: rtl;
    margin-left: 0;
    justify-content: flex-end;
  }
  .program__item:nth-child(4) .program__head {
    direction: rtl;
    margin-left: 0;
    justify-content: flex-end;
  }

  p.program__item-par {
    font-size: 1.2rem;
  }

  .program_clients {
    max-width: 30rem;
  }

  .program_style {
    max-width: 20rem;
  }

  .pricing__item:first-of-type .home__sub-title {
    background-color: #544f4f;
    padding: 0.25rem 0.75rem;
    font-size: 1.1rem;
    position: relative;
    top: -1.5rem;
    right: auto;
  }

  .pricing__item .home__sub-title {
    top: -1.5rem;
    right: auto;
    padding: 1rem 1.5rem;
    font-size: 1.8rem;
  }

  .pricing__item:nth-of-type(2) .pricing__item-title {
    padding-top: 0;
  }

  .home__cta-section {
    margin: 0;
    display: block;
  }

  .home__img {
    max-width: 100%;
  }
  .menu-btn {
    display: none;
  }

  .charity-info {
    width: 100%;
  }

  .home__text-container {
    margin: 0;
    width: 100%;
    right: -2rem;
    position: relative;
    text-align: left;
  }

  .charity-info {
    bottom: 4em;
    position: static;
    margin: 2em 0;
  }
  .nav {
    flex-direction: row;
    border-bottom: 2px solid var(--main-white);
  }
  .nav__left {
    /* padding: 0.5em; */
    width: 50%;
    display: flex;
    justify-content: start;
    height: 100%;
    /* border-right: 2px solid var(--main-white); */
    border-left: none;
  }
  .nav__list {
    border: none;
    position: static;
    left: auto;
    height: auto;
    top: auto;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 0.5em;
    min-width: 50%;
    transform: translateX(0);
    transition: transform 0.5s ease-in;
    margin: 0;
    /* display: none; */
    z-index: 2;
  }
  .nav__list a {
    color: var(--main-white);
    font-size: 1rem;
  }

  .nav__list-item + .nav__list-item,
  .nav__list-item {
    margin-top: 0;
  }

  .emoji-stars-home {
    top: -1em;
    right: -14em;
  }
  .emoji-letter {
    bottom: -3em;
    right: -1em;
  }
  .emoji-owl {
    bottom: 3em;
    right: 1em;
  }

  .for__title {
    grid-column: 1/5;
    grid-row: 1;
    align-self: center;
  }
  .for__item-text {
    font-size: 1.2rem;
  }
  .for__item-border-1 {
    grid-row: 1/2;
    grid-column: 2/4;
  }
  .for__item-border-2 {
    grid-row: 1/4;
    grid-column: 3/5;
    /* top: -3em;
    position: relative; */
  }
  .for__item-border-3 {
    grid-row: 3/5;
    grid-column: 1/4;
    /* top: -3em;
    left: 3em;
    position: relative; */
  }
  .container-bordered {
    margin: 2em 0 0;
  }

  .container-bordered__middle {
    padding: 0 5em;
    max-width: 50rem;
  }
  .program {
    position: relative;
  }

  .program-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }

  .program__item {
    width: 90%;
    z-index: 2;
  }
  .program__item:nth-child(2n + 1) {
    margin-left: 0;
  }

  .program__item:nth-child(2n + 1) .program__head {
    margin-left: 0;
    width: 60%;

    justify-content: flex-end;
  }
  .program__item:nth-child(2n + 2) {
    margin-right: 0;
  }
  .program__item:nth-child(2n + 2) .program__head {
    border-radius: 30px 0 0 30px;
    margin-left: 30rem;
  }
  .program__item:nth-child(2n + 2) .program__item-text {
    flex-direction: row-reverse;
  }

  .program__item-text {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .program__item--paragraphs {
    width: 50%;
  }

  .program__item-visual {
    width: 50%;
    display: flex;
    justify-content: start;
  }

  .program__item:nth-child(2n + 1) .program__item-visual {
    justify-content: end;
  }

  .program__item--paragraphs {
    padding: 2em;
    line-height: 1.5;
  }

  /* NEW DESKTOP CLASSES */
  .flex-desktop-col {
    position: relative;
    max-width: 100%;
    text-align: left;
    align-items: start;
  }

  .for__desktop-container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    justify-content: start;
    align-items: center;
    position: relative;
  }

  .for {
    border: none;
  }
  .for__decor {
    width: 40%;
    position: static;
    bottom: auto;
  }

  .for__img-side {
    display: block;
    width: 100%;
    position: absolute;
    max-width: 40%;
    top: 0;
    left: -5em;
  }

  .for__bullets {
    width: 100%;
    /* display: grid; */
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .feedback__title {
    padding-top: 2em;
  }
  .feedback {
    margin: 8em 0;
  }

  .pricing__under {
    width: 95%;

    margin: 6rem 0;
  }

  .addition {
    width: 40%;
  }
  /* AUTHOR*/

  .author {
    margin: 5em 0 2em;
  }

  .author__title {
    padding: 0.5em 0 0 0;
  }

  .author__creds {
    bottom: 29rem;
    left: -15rem;
    position: relative;
  }

  .author__bordered {
    flex-direction: row;
  }

  .author__card {
    padding: 0;

    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
  }
  .author__details-col {
    padding: 1em;
    font-size: 1em;
  }

  .author__details {
    max-width: 20rem;
    position: relative;
  }

  .author__details + .author__details {
    margin-bottom: 0;
  }

  .author__details-col + .author__details-col .author__details {
    margin-top: 0;
  }

  .author__details-col:first-of-type {
    padding-bottom: 0;
  }
  .author__details-col + .author__details-col {
    padding-top: 0;
  }

  .author__img {
    max-width: 26em;
    /* position: absolute; */
    /* top: -3rem;
    right: 10rem; */
  }

  .container-bordered__middle {
    border-left: none;
    border-right: none;
  }

  .author__details--container {
    /* top: -14rem; */
    position: relative;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  /* PRICING*/
  .pricing__container--flex {
    display: flex;
    justify-content: flex-end;
    max-width: fit-content;
    width: 100%;
    margin: 0 auto;
  }

  .pricing__item {
    width: 50%;
    margin: 0 auto;
    max-width: 26rem;
    z-index: 1;
  }

  .addition .arrow {
    left: -4rem;
  }

  .pricing__item + .pricing__item {
    margin-left: 6em;
  }

  .pricing__item-price-back {
    position: absolute;
    bottom: -5em;
    left: 14em;
    transform: translateX(50%);
    background-color: var(--main-black);
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }

  .pricing__item-price {
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-white);
  }

  .pricing__container--flex {
    display: flex;
    justify-content: flex-end;
  }
  /* FEEDBACK*/

  .emoji-ball {
    position: absolute;
    top: 6rem;
    right: 20rem;
    z-index: 1;
    max-width: 70px;
  }

  /* COUNTDOWN*/
  .countdown__digit-container {
    max-width: 80%;
    margin: 3em auto;
    display: flex;
  }

  .countdown__digit-container div {
    flex-direction: column;
  }
  .countdown__digit-container div + div {
    margin-left: 2em;
  }

  .countdown__module h3 {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  .countdown__module h1 {
    font-size: 3rem;
    min-width: 3rem;
  }
  .emoji-timer {
    top: -4rem;
    right: 0rem;
  }
  p.countdown__details {
    font-size: 1.5rem;
    margin: 3rem auto;
  }
  .countdown__title {
    font-size: 2rem;
  }

  .countdown__decor-stamp {
    position: absolute;
    bottom: -7em;
    right: -2em;
    max-width: 15em;
  }
  /* FEEDBACK*/

  .faq-contact {
    display: flex;
    margin: 3em auto;
    justify-content: space-between;
  }
  .faq {
    width: 100%;
    margin-left: 2em;
  }
  .faq__flex-container {
    display: flex;
    align-items: center;
  }
  .faq__visual {
    max-width: 35em;
  }
  .faq__container {
    max-width: 50%;
  }
  .faq__img {
    max-width: 100%;
    width: 100%;
    position: relative;
  }

  .faq .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .contact {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .faq__item-text {
    font-size: 1rem;
  }

  .faq__item {
    display: flex;
    align-items: flex-start;
    max-width: 80%;
  }

  .emoji-comment {
    object-fit: contain;
    justify-self: flex-start;
    align-self: flex-start;
  }

  .contact__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .contact__visual {
    display: block;
    padding: 0em;
    position: relative;
    max-height: 34em;
    max-width: 30em;
    width: 100%;
  }

  .contact__details {
    display: inline-block;
    max-width: 60%;
  }
  /* .contact__visual::after {
    content: "";
    background-color: var(--main-black);
    width: 2px;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
  } */

  .contact__documents {
    max-width: 40%;
  }

  .contact__documents a {
    display: block;
    text-decoration: none;
    color: var(--main-white);
    padding: 0.5em 0;
    font-size: 1rem;
    max-width: 80%;
  }
}

@media screen and (min-width: 1366px) {
  /* Global styles*/

  p {
    font-size: 1.2rem;
  }

  .home__btn {
    margin: 1.5em 0 1.5em;
  }

  .home__visual {
    align-self: flex-end;
  }

  .home__decor-owl {
    max-width: 80%;
  }

  .purchase-btn {
    padding: 0.5em 1em;
    max-width: 12em;
    text-align: center;
    font-weight: 600;
    font-size: 1.6rem;
  }
  .flex-desktop-col {
    max-width: 40%;
  }
  .home__title {
    font-size: 14rem;
    position: relative;
  }

  .author__details--container {
    justify-content: end;
  }

  .author__details-col {
    padding: 2em !important;
    font-size: 1em;
  }

  .author__details {
    font-size: 1.4rem;
  }

  .for__desktop-container {
    width: 80%;
    margin: 0 auto;
  }

  .for__item-text {
    max-width: 30rem;
  }

  .contact__visual {
    max-height: 39em;
  }

  .contact__img {
    top: -6em;
    max-height: 100%;
  }

  .charity-info {
    bottom: 0;
    position: static;
    margin: 0em;
  }
}
@media screen and (min-width: 1600px) {
  .for__img-side {
    max-width: 30%;
    left: 0;
  }

  .pricing__item {
    max-width: 32rem;
  }

  .pricing__item + .pricing__item {
    margin-left: 10rem;
  }
  .pricing__item-price-back {
    left: 19em;
  }
}

@media screen and (min-width: 1920px) {
  .for__img-side {
    max-width: 40%;
    left: -3rem;
  }
  .for__desktop-container {
    width: 50%;
    margin: 0 auto;
  }

  .charity-info {
    bottom: 0;
    position: static;
    margin: 0em;
  }

  .program__item-par {
    font-size: 1.5rem;
  }
  .program_clients {
    max-width: 35rem;
  }

  .program_style {
    max-width: 25rem;
  }
}
